
/* --- Styling for whole site --- */

header, main, nav, footer {
    text-align: center;
}

/* Title on each page */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

/* Background and text of each page */
body {
    background-color:#D9D9D9; /* light gray */
    color:black;
}

/* Menu bar at the top of each page */
nav a { /* links within "nav" container */
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;   /* removes underline */
    color: black;            /* default links are blue */
}

/* Alter menu links for hover and current page */
nav a:hover, .current { /* pseudo class */
    border-bottom:2px #1C9A2B solid; /* dark green */
    font-size: 2em;
    transition: .9s; 
}

footer {
    font-size: .8em;
    color: #06355E;
}



/* --- Styling for index.html --- */


main {
    display: flex; /* format to have elements side by side */
    justify-content: center;
}



/* --- Styling for about.html page --- */

/* Language experience table */
table {
    margin:0px auto;
}

/* For each cell in the table */
td {
    padding-right: 20px;
    font-size: 1.3em;
}

/* For bolded cells in the table */
td strong {
    color: white;
}

/* For the id "table-header" */
#table-header {
    background-color: #75BAF6;
}


/* For the class "table-row" */
.table-row {
    background-color: #B8DEFF;
}

/* For the list */
ul {
    padding-top: 30px;
    padding-bottom: 30px;
    width:500px;
    margin: 0 auto;
    text-align: left;
}

/* For the class "hobby" */
.hobby {
    color: #1C9A2B;
}


/* --- Styling for contact.html page --- */

/* For the block with id "form" */
#form {
    display: flex;
    justify-content: center;
}

